html {
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: table;
    background-image:url("../img/mainpagebackground.jpg");
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    padding-left: 0;
}
.account{
    font-size: 30px;
    color: #097054;
    font-family: 'Kaushan Script', cursive;
}

.poop{
    width: 300px;
    margin: 40px;
    background: rgba(0,0,25,0.7);
    padding: 45px;
    margin-bottom: auto;
    color: #FFF;
}
.login{    
    text-align: left;

  /* border-radius: 50px; */
}

.pass{
    padding-top: 10%;

}

.btn-default{
   margin-top: 20px;
    width: 8em;
    height: 2em;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 20px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.btn-default:hover{
   background-color: #fff;
}


.main-container {
    display: table-cell;
    vertical-align: middle;
}

.main-content {
    padding: 10%;
    text-align: center;
}

.main-content h1{
    display: inline;
    font-size: 2.0em;
    text-align: center;
    height: auto;

}

.mpbtn {
    width: 20em;
    height: 5em;
    background-color: transparent;
    border: 1px solid #fff;
}
/*
.mainpage h1{
    font-size: 2.0em;
    text-align: center;
    height: 50%;
}
*/

/****************
COLOR
****************/

body a{
    color: white;
    font-size: 4.0em;
}

body a:hover {
    text-decoration: none;
}


/***************
NAV BAR
***************/


li {
    display: inline;
    float: right;
    padding-right: 1%;
    padding-left: 1%;
    vertical-align: middle;
    padding-top: 0;
}

.nav-bar a{
    font-size: 1.5em;
    text-decoration: none;
    
}

#navbar {
    background-color: #333;
}

#logo {
    display: inline;
    margin-left: 20px;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #DC143C
}