html {
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image:url('../img/mainpagebackground.jpg');
    background-size:cover;
}

.reg{
	font-size: 30px;
    color: #097054;
	font-family: 'Kaushan Script', cursive;
}

.poop{
	color: #fff;
	width: 320px;
    margin: 40px;
    background: rgba(0,0,25,0.7);
    padding: 45px;
    margin-bottom: auto;
}
.info{
    text-align: left;
}

.form-group{
	padding-bottom: 10%;
}

.btn-default{
   margin-top: 20px;
    width: 8em;
    height: 2em;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 20px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.btn-default:hover{
   background-color: #fff;
}

/*
.res-form{
    
}

body a{
    color: white;
    font-size: 4.0em;   
}

body a:hover {
    text-decoration: none;
} */