html {
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image:url('../img/mainpagebackground.jpg');
    background-size:cover;
}

.info{
	color: #fff;
	width: 320px;
    margin: 40px;
    background: rgba(0,0,25,0.4);
    padding: 45px;
    margin-bottom: auto;
}
/*
.res-form{
    
}

body a{
    color: white;
    font-size: 4.0em;   
}

body a:hover {
    text-decoration: none;
} */