html {
    height: 100%;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../img/mainpagebackground.jpg');
    color: #fff;
}

.res-page{

}

body a{
    color: white;
    font-size: 4.0em;
    
}

body a:hover {
    text-decoration: none;
}